/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* RESPONSIVE  @MEDIA SCREEN AND (MAIN-WIDTH:480PX)*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/**/
@media screen and (min-width:480px) {

    
    section{
        display: grid;
        grid-template-columns: repeat(1,480px) ;

        
    }

    section article{

        border: solid 1px black;
        background-color: #3decff;

        
    }

    section h2 {

        padding-left: 5px;
      
    }
    

}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* RESPONSIVE  @MEDIA SCREEN AND (MAIN-WIDTH:768PX)*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/


@media screen and (min-width:768px) {

    section{
        display: grid;
        grid-template-columns: repeat(2,377px) ;

        
    }

    section article{

        border: solid 1px black;
        background-color: #fcff3d;

        
    }

    section h2 {

        padding-left: 5px;
      
    }
    

}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/* RESPONSIVE  @MEDIA SCREEN AND (MAIN-WIDTH:1024PX)*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/**/
@media screen and (min-width:1024px) {

    section{
        display: grid;
        grid-template-columns: repeat(3,335px);
    }

    section article{

        border: solid 1px black;
        background-color: #f321f3;


    }

    section h2 {

        padding-left: 5px;
    }

}